body{
      font-family: 'Alegreya SC';font-size 40px;
      } 
      h1{
        text-align: center;
        color: Indigo;
        margine: 30px 50px;
        }
        
p{
      color: Black;
}

        .gallery{
        marigin: 10px 50px;
        }
        .gallery img{
        width: 230px;
        padding: 5px
        }
        .gallery img:hover{
        }
        
