body{
      font-family: Alegreya SC;
      } 
      h1{
        text-align: center;
        color: indigo;
        margine: 30px 50px;
        }
        
        .gallery{
        marigin: 10px 50px;
        }
        .gallery img{
        width: 230px;
        padding: 5px
        }
        .gallery img:hover{
        }
        
